* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('backtest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    text-align: center;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.content {
    background-color: rgba(10, 10, 10, 0.6);
    padding: 2rem;
    border-radius: 25px;
}

.title {
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 50px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    animation: float 3s ease-in-out infinite;
}

.description {
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background: linear-gradient(45deg, #ff00de, #ffcc00, #00ff7f);
    background-size: 600% 600%;
    animation: gradient 6s ease infinite;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button.discord {
    background-color: #7289da;
    padding: 1rem;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button.discord:hover {
    background-color: #5865f2;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
